.md-whiteframe-z3 {
  box-shadow: 0 3px 5px -1px rgba(0,0,0,.14), 0 6px 10px 0 rgba(0,0,0,.098), 0 1px 18px 0 rgba(0,0,0,.084);
}

.crypto-logo {
  height: 64px;
  width: 64px;
}

body {
  background: linear-gradient(230deg, #22e8b5, #e822cf, #222fe6, #a3b41e, #28ec41);
  background-size: 1000% 1000%;

  -webkit-animation: AnimationName 70s ease infinite;
  -moz-animation: AnimationName 70s ease infinite;
  animation: AnimationName 70s ease infinite;
}

@-webkit-keyframes AnimationName {
  0%{background-position:97% 0%}
  50%{background-position:4% 100%}
  100%{background-position:97% 0%}
}
@-moz-keyframes AnimationName {
  0%{background-position:97% 0%}
  50%{background-position:4% 100%}
  100%{background-position:97% 0%}
}
@keyframes AnimationName {
  0%{background-position:97% 0%}
  50%{background-position:4% 100%}
  100%{background-position:97% 0%}
}